/* Navbar*/

.pink-Color{
    color: rgb(235, 55, 166);
}
.ash{
    background-color: darkgray;
}
.menupart1,.menupart2,.nav{
    display: flex;
}
.menupart1,.menupart2{
    place-items: center ;
}
.menupart2{
    list-style-type: none;
    gap: 20px;

}
