/* Navbar*/

.pink-Color{
    color: rgb(235, 55, 166);
}
#ash{
    background-color: rgb(224, 224, 224);
    padding: 1rem;
}
.menupart1,.menupart2,.nav{
    display: flex;
}
.menupart1,.menupart2{
    place-items: center ;
    margin: auto;
}
.menupart1{
    gap: .4rem;
}
.menupart2{
    list-style-type: none;
    gap: 2rem;
}


/* Responsive */
/*Tab*/
@media only screen and (min-width: 768px) and (min-width: 992px) {
    
}
/*MOBILE*/
@media only screen and (max-width: 768px) {
    
}
